<h2>sign up welcome welcome</h2>
<form action="<%= users_url %>" method="post">
    <label>Username:
        <input type="text" name="user[username]">
    </label>
    <br>
    <label>Password:
        <input type="password" name="user[password]">
    </label>
    <br>
    <input type="submit" value="Sign Up">


</form>